certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
prompt-toolkit==3.0.3
pymessenger==0.0.7.0
redis==3.4.1
requests==2.22.0
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.14.0
urllib3==1.25.8
wcwidth==0.1.8
Werkzeug==1.0.0
wit==5.1.0
